body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sect3 h2 {
  color: rgb(167 48 65);
  font-size: 2rem;
}

.sect3 h1 {
  font-size: 2.5rem;
  color: #09253e;
}

.sect3 {
  background-color: rgb(206, 217, 226);
  width: 100%;
  height: 100vh;
}

.text-center {
  text-align: center !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}

input {
  width: 500px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
}

@media only screen and (max-width: 600px) {
  input {
  width: 100%;
  }
}

form {
  display: inline-block;
}

button {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #09253e;
  color: #ffffff;
}

label {
  font: 15px;
  color: #000;
  font-weight: 600;
}

#json {
  margin-bottom: 12px;
  margin-top: 12px;
  font-weight: 600;
}
